<h1>Online Ruby interpreter!</h1>

<h3>Your code here:</h3>
<div class="input">
  <form class="clearfix" action="<%= evaluations_url %>" method="post">
    <div class="input-area">
      <textarea id="code-input" name="code" rows="8" cols="40"># Type some ruby code!</textarea>
    </div>
     <button type="submit">Run</button>
  </form>
</div>

<div class="output">
  <p>
    <span>Result: </span><pre></pre>
  </p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var txt = document.getElementById('code-input');
    window.cm = CodeMirror.fromTextArea(txt, {
      mode: 'ruby',
      theme: 'monokai',
    });
  });

  $(
    $('form').on('submit', function(e) {
      e.preventDefault();
      window.cm.save();
      var val = e.currentTarget[0].value;
      var action = e.currentTarget.action;

      $.ajax({
        method: 'POST',
        url: action,
        data: { code: val },
        success: function(data) {
          $('.output').find('pre').text(data.code);
        },
        error: function(data) {
          console.log(data);
        }
      });
    })
   );
</script>
