<div class="input">
  <form action="<%= evaluations_url %>" method="post">
     <textarea name="code" rows="8" cols="40"></textarea>
     <button type="submit">Run</button>
  </form>
</div>

<div class="output">
  <pre>
    
  </pre>
</div>

<script type="text/javascript" charset="utf-8">
  $(
    $('form').on('submit', function(e) {
      e.preventDefault();
      console.log(e);
      var val = e.currentTarget[0].value;
      var action = e.currentTarget.action;

      $.ajax({
        method: 'POST',
        url: action,
        data: { code: val },
        success: function(data) {
          console.log(data);
          $('.output').find('pre').text(data.code);
        },
        error: function(data) {
          console.log(data);
        }
      });
    })
   );
</script>
